@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #000;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background-color: transparent !important; /* Your desired background color */
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Same color as background */
    -webkit-text-fill-color: #333 !important; /* Optional: Change text color */
    transition: background-color 5000s ease-in-out 0s !important; /* Smooth transition */
    -webkit-text-fill-color: white !important;
  }
}

.container {
  color: #fff;
  background: radial-gradient(
    121.73% 121.49% at 100% -3.39%,
    #1f4247 0%,
    #0d1d23 56.18%,
    #09141a 100%
  );
  margin: auto;
  width: 375px;
}

.login-button {
  background: linear-gradient(108.32deg, #62cdcb 24.88%, #4599db 78.49%);
  position: relative;
  isolation: isolate;
  font-weight: 700;
  height: 48px;
  &::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: linear-gradient(
      108.32deg,
      rgba(98, 205, 203, 0.5) 24.88%,
      rgba(69, 153, 219, 0.5) 78.49%
    );
    filter: blur(20px);

    top: 25%;
    left: 0;
    z-index: -1;
  }
}

.text-golden-gradient {
  background: linear-gradient(
    74.08deg,
    #94783e -6.8%,
    #f3eda6 16.76%,
    #f8fae5 30.5%,
    #ffe2be 49.6%,
    #d5be88 78.56%,
    #f8fae5 89.01%,
    #d5be88 100.43%
  );
  background-clip: text;
  color: transparent;
  text-decoration: underline;
  text-decoration-color: #f3eda6;
  text-underline-offset: 3px;
}

.login-inactive {
  opacity: 0.3;
  &::after {
    display: none;
  }
}

.container-black {
  color: #fff;
  margin: auto;
  background: #09141a;
  width: 375px;
}

.gold-text {
  background: linear-gradient(
    74.08deg,
    #94783e -6.8%,
    #f3eda6 16.76%,
    #f8fae5 30.5%,
    #ffe2be 49.6%,
    #d5be88 78.56%,
    #f8fae5 89.01%,
    #d5be88 100.43%
  );
  background-clip: text;
  color: transparent;
}
